.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;

  &__title {
    padding: 15px;
    color: #ff9e06;
  }

  &__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 250px;
    height: 330px;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ff99ee;
  }

  &__name {
    background-color: #ff9e06;
    color: rgb(62, 62, 62);
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    margin-top: auto;
  }

  &__img {
    width: 210px;
    height: 240px;
    padding: 5px;
    border-radius: 10px;
  }
}
