.header {
  background-image: url("https://i.pinimg.com/originals/20/0f/dc/200fdcb1737a2e324c18ab05820e77e4.jpg");
  height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    color: $orange;
    font-size: 30px;
    font-family: $main-font;
    border: solid 5px $pink;
    background-color: rgba(240, 240, 240, 0.8);
    bottom: 200px;
    margin: 30px;
    padding: 10px;
    margin-top: 300px;
  }
}
